* {
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin: 0;
}
#create {}
#read {
    background-color: aqua;
    width: 100%;
}
#update {}
.header {
    width: 100%;
    /* padding: 0.8rem; */
    line-height: 4.2rem;

    background-color: tomato;
    font-size: 1.2rem;
    color: ghostwhite;
}
